# Build output
dist/
build/

# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
app.log
logs/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Uploads / storage
uploads/

# TypeScript cache
*.tsbuildinfo

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# OS
.DS_Store
Thumbs.db
